body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --purple-primary:hsl(243,69,59);
  --accent-pink:hsl(345,88,63);
  --neutral-light:hsl(222,100,97);
  --lavender-secondary:hsl(237,21,52);
  --dark-primary:hsl(237,56,20);
  --border-color:hsl(260,68,83);
}

